desktop.ini
Thumbs.db
__MACOSX
_OLD
.sass-cache/
node_modules/
.ftppass
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.DS_Store
*/.DS_Store
*/**/.DS_Store
Dados.md
npm-debug.log
content/css/application.css
content/js/application.js
_backups