# Cache-Control e Expires header
<IfModule mod_headers.c>
Header set Access-Control-Allow-Origin "*"
	Header unset Pragma
	Header unset ETag 
	FileETag None
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresDefault "access plus 1 month"
	ExpiresByType text/cache-manifest "access plus 0 seconds"

	# HTML
	ExpiresByType text/html "access plus 0 seconds"

	# Data
	ExpiresByType text/xml "access plus 0 seconds"
	ExpiresByType application/xml "access plus 0 seconds"
	ExpiresByType application/json "access plus 0 seconds"

	# Feed
	ExpiresByType application/rss+xml "access plus 1 hour"
	ExpiresByType application/atom+xml "access plus 1 hour"

	# Favicon
	ExpiresByType image/x-icon "access plus 1 week"

	# Media: images, video, audio
	ExpiresByType image/gif "access plus 1 month"
	ExpiresByType image/png "access plus 1 month"
	ExpiresByType image/jpg "access plus 1 month"
	ExpiresByType image/jpeg "access plus 1 month"
	ExpiresByType video/ogg "access plus 1 month"
	ExpiresByType audio/ogg "access plus 1 month"
	ExpiresByType video/mp4 "access plus 1 month"
	ExpiresByType video/webm "access plus 1 month"

	# HTC files
	ExpiresByType text/x-component "access plus 1 month"

	# Webfonts
	ExpiresByType font/opentype "access plus 1 month"
	ExpiresByType application/x-font-woff "access plus 1 month"
	ExpiresByType application/x-font-ttf "access plus 1 month"
	ExpiresByType image/svg+xml "access plus 1 month"
	ExpiresByType application/vnd.ms-fontobject "access plus 1 month"

	# CSS/JS
	ExpiresByType text/css "access plus 1 year"
	ExpiresByType application/javascript "access plus 1 year"
	ExpiresByType application/x-javascript  "access plus 1 year"
	</IfModule>

	#Força o IE a sempre carregar utilizando a última versão disponível
	<IfModule mod_headers.c>
		Header set X-UA-Compatible "IE=Edge,chrome=1"
	<FilesMatch "\.(js|css|gif|png|jpeg|pdf|xml|oga|ogg|m4a|ogv|mp4|m4v|webm|svg|svgz|eot|ttf|otf|woff|ico|webp|appcache|manifest|htc|crx|oex|xpi|safariextz|vcf)$" >
	Header unset X-UA-Compatible
	</FilesMatch>
</IfModule>

# Compactação GZIP
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddType x-font/otf .otf
AddType x-font/ttf .ttf
AddType x-font/eot .eot
AddType x-font/woff .woff
AddType image/x-icon .ico
AddType image/png .png

# Redirect's
redirect 301 /m/ /
redirect 301 /m /
redirect 301 /sobre-mim/ /about
redirect 301 /sobre-mim /about
redirect 301 /contato/ /contact
redirect 301 /contato /contact

redirect 301 /portfolio/gendai/ /portfolio/gendai
redirect 301 /portfolio/biopet/ /portfolio/biopet
redirect 301 /portfolio/fashion-walk/ /portfolio/fashion-walk
redirect 301 /portfolio/tim-reconhece/ /portfolio/reconhece
redirect 301 /portfolio/natura-sou-novas-escolhas/ /portfolio/natura
redirect 301 /portfolio/sadia/ /portfolio/sadia
redirect 301 /portfolio/tam-clube-do-agente/ /portfolio/tam
redirect 301 /portfolio/monte-seu-lago-cubos/ /portfolio/cubos-monte-seu-lago
redirect 301 /portfolio/digitaliza-empresas/ /portfolio/digitaliza
redirect 301 /portfolio/smartia/ /portfolio/smartia
redirect 301 /portfolio/cubos-revestimentos/ /portfolio/cubos-revestimentos
redirect 301 /portfolio/paganelli-shop/ /portfolio/paganelli-shop
redirect 301 /portfolio/cubos-meu-primeiro-lago/ /portfolio/cubos-meu-primeiro-lago
redirect 301 /portfolio/integra-medical/ /portfolio/integra-medical
redirect 301 /portfolio/7ball/ /portfolio/7ball
redirect 301 /portfolio/lechen/ /portfolio/lechen
redirect 301 /portfolio/azteq/ /portfolio/azteq
redirect 301 /portfolio/colson/ /portfolio/colson
redirect 301 /portfolio/toyota-tour/ /portfolio/toyota
redirect 301 /portfolio/oi-vida-saudavel/ /portfolio/oi
redirect 301 /portfolio/azul-fish-farm/ /portfolio/azul-fish

redirect 301 /portfolio/umanni/ /works
redirect 301 /portfolio/revista-live-marketing/ /works
redirect 301 /portfolio/portfolio-versao-mobile/ /works
redirect 301 /portfolio/informe-federal/ /works
redirect 301 /portfolio/infoshade/ /works
redirect 301 /portfolio/winebrands/ /works
redirect 301 /portfolio/winesociety/ /works 

# Error Documents
ErrorDocument 404 /not-found

# URL Friendly
Options +FollowSymLinks
RewriteEngine On
RewriteCond %{HTTP_HOST} ^wallaceerick.com.br
RewriteRule ^ http://www.wallaceerick.com.br%{REQUEST_URI} [L,R=301]
#RewriteCond %{HTTP_HOST} ^www.(.*) [NC]
#RewriteRule ^(.*) http://%1/$1 [R=301,L]

# Commom Pages
RewriteRule ^home$ index.php [L]
RewriteRule ^about$ about.php [L]
RewriteRule ^works$ works.php [L]
RewriteRule ^contact$ contact.php [L]
RewriteRule ^not-found$ not-found.php [L]

# Projects
RewriteRule ^portfolio/7ball$ portfolio/7ball.php [L]
RewriteRule ^portfolio/alpex$ portfolio/alpex.php [L]
RewriteRule ^portfolio/azteq$ portfolio/azteq.php [L]
RewriteRule ^portfolio/azul-fish$ portfolio/azul-fish.php [L]
RewriteRule ^portfolio/biopet$ portfolio/biopet.php [L]
RewriteRule ^portfolio/colson$ portfolio/colson.php [L]
RewriteRule ^portfolio/cubos-monte-seu-lago$ portfolio/cubos-monte-seu-lago.php [L]
RewriteRule ^portfolio/cubos-meu-primeiro-lago$ portfolio/cubos-meu-primeiro-lago.php [L]
RewriteRule ^portfolio/cubos-revestimentos$ portfolio/cubos-revestimentos.php [L]
RewriteRule ^portfolio/cubos-lagos$ portfolio/cubos-lagos.php [L]
RewriteRule ^portfolio/chevrolet$ portfolio/chevrolet.php [L]
RewriteRule ^portfolio/deuter$ portfolio/deuter.php [L]
RewriteRule ^portfolio/digitaliza$ portfolio/digitaliza.php [L]
RewriteRule ^portfolio/fashion-walk$ portfolio/fashion-walk.php [L]
RewriteRule ^portfolio/galvao$ portfolio/galvao.php [L]
RewriteRule ^portfolio/gendai$ portfolio/gendai.php [L]
RewriteRule ^portfolio/honda$ portfolio/honda.php [L]
RewriteRule ^portfolio/home-refill$ portfolio/home-refill.php [L]
RewriteRule ^portfolio/integra-medical$ portfolio/integra-medical.php [L]
RewriteRule ^portfolio/lechen$ portfolio/lechen.php [L]
RewriteRule ^portfolio/lorpen$ portfolio/lorpen.php [L]
RewriteRule ^portfolio/mercado-arte$ portfolio/mercado-arte.php [L]
RewriteRule ^portfolio/mondial$ portfolio/mondial.php [L]
RewriteRule ^portfolio/natura$ portfolio/natura.php [L]
RewriteRule ^portfolio/navegatium$ portfolio/navegatium.php [L]
RewriteRule ^portfolio/oi$ portfolio/oi.php [L]
RewriteRule ^portfolio/onda$ portfolio/onda.php [L]
RewriteRule ^portfolio/paganelli-shop$ portfolio/paganelli-shop.php [L]
RewriteRule ^portfolio/positivo-english-solution$ portfolio/positivo-english-solution.php [L]
RewriteRule ^portfolio/positivo-nuvem$ portfolio/positivo-nuvem.php [L]
RewriteRule ^portfolio/reconhece$ portfolio/reconhece.php [L]
RewriteRule ^portfolio/sadia$ portfolio/sadia.php [L]
RewriteRule ^portfolio/sarlo$ portfolio/sarlo.php [L]
RewriteRule ^portfolio/smartia$ portfolio/smartia.php [L]
RewriteRule ^portfolio/tam$ portfolio/tam.php [L]
RewriteRule ^portfolio/toyota$ portfolio/toyota.php [L]