/* Main form wrapper */
.fs-form-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	color: #fff; 
	// display: none;
}

.overview .fs-form-wrap {
	height: auto;
}

/* Form */
.fs-form {
}
.no-js .fs-form {
	text-align: center;
	padding: 0 0 6em 0;
}

/* Views (fullscreen and overview) */
.fs-form-full {
	margin: 0 auto; 
	width: 960px;
	position: absolute;
	left: 50%;
	bottom: 40px;
	height: 300px;
	margin: 0 0 0 -480px;
	overflow: hidden;
	// background-color: red;
}

.fs-form-full,
.fs-message-error {
	max-width: 960px;
}

.fs-form-overview {
	position: absolute;
	text-align: center;
	top: 100px;
	width: 100%;
	height: 100%;
	// background: image-url('cloud.jpg') 0 0 no-repeat;
	color: #3b3f45;
	font-size: 1.2em;
	z-index: 999;

	.fs-fields {
		width: 960px;
		display: block;
		margin: -80px auto 0 auto;
		// background-color: red;
		li {
			padding: 0!important;
			display: block;
			margin: 0 0 30px 0;
			&.column-half {
				width: 50%;
				float: left;
			}
			&:first-child {
				padding-top: 80px!important;
			}
			label {
				color: rgba(255, 255, 255, 0.5);
				font-size: 30px;
				margin: 0!important;
			}
			input, textarea {
				text-align: center;
				padding: 5px 0 0 0;
				margin: 0;
				border: none!important;
				font-size: 20px;
				color: rgba(255, 255, 255, 0.3);
				&:focus, &:hover {
					background-color: transparent;
					color: rgba(255, 255, 255, 0.6);
				}
			}
			textarea {
				position: 0;
				margin: 0;
				height: 120px;
				line-height: 30px;
			}
		}
	} 
}

.fs-form-overview .fs-fields::before {
	display: block;
	color: #3b3f45;
	content: 'Revise sua mensagem:';
	font-weight: $medium;
	color: $white;
	font-size: 50px;
}

@include keyframes(animFadeIn) {
    0% {
    	opacity: 0;
	}
	100% {
		opacity: 1;
	} 
}

@include keyframes(animMove) {
    0% {
		top: 100px;
	} 
}
 
.fs-form.fs-show .fs-fields {
	@include transition(animMove 0.5s $ease-out);
}
.fs-form.fs-show {
	@include transition(animFadeIn 0.5s $ease-out);
}

/* Visibility control of elements */
.fs-form-full .fs-fields > li,
.fs-nav-dots, 
.fs-progress,
.fs-numbers,
.fs-message-error,
.fs-message-final,
.fs-continue {
	visibility: hidden;
}

.no-js .fs-form-full .fs-fields > li {
	visibility: visible;
}

.fs-show {
	visibility: visible !important;
}

/* Some general styles */
.fs-form-wrap button {
	border: none;
	background: none;
}

.fs-form-wrap button[disabled] {
	opacity: 0.3;
	pointer-events: none;
}

.fs-form-wrap input:focus,
.fs-form-wrap button:focus {
	outline: none;
}

/* Hide the submit button */
.fs-form .fs-submit {
	display: none;
}

/* Fields */
.fs-fields {
	position: relative;
	margin: 0 auto;
	padding: 0;
	top: 0;
	list-style: none;
	li {
		position: relative;
		z-index: 1;
		margin: 0;
		padding: 130px 0 0 0;
		border: none;
		&:hover {
			z-index: 999;
		}
		&.fs-message-box {
			padding-top: 0;
			label {
				margin-bottom: 30px;
			}
		}

		label {
			display: block;
			position: relative;
			text-align: center;
			font-size: 40px;
		}

		input {
			border: none;
			text-align: center;
			padding: 15px 15px 0 15px;
			font-size: 50px;
			border-bottom: 2px solid rgba(255, 255, 255, 0.1);
		}

		textarea {
			border: 2px solid rgba(255, 255, 255, 0.1);
			padding: 0 15px;
			font-size: 30px;
			line-height: 47px;
		}

		input, textarea {
			display: block;
			width: 100%;
			margin: 15px 0 0 0;
			font-family: $base-font-family;
			font-weight: $thin;
			color: rgba(255, 255, 255, 0.3);
			text-overflow: ellipsis;
			border-radius: 0;
			background-color: transparent;
			@include transition(color 0.2s $ease-out, border 0.2s $ease-out);
			&:invalid {
				box-shadow: none;
			}
			&:hover {
				color: $white;
			}
			&:focus {
				color: $white;
				border-color: $white;
			}
		}
	}
}

.fs-form-overview {
	.fs-submit {
		display: block;
		margin: 0 auto;
	}
}

.js .fs-form-full .fs-fields > li {
	position: absolute;
	width: 100%;
}

.fs-form-overview .fs-fields > li,
.no-js .fs-form .fs-fields > li {
	// margin: 1em 0 2em;
	// padding: 0 0 2em 0;
	// border-bottom: 2px solid rgba(0,0,0,0.1);
}

.fs-form-overview .fs-fields input {
	border-bottom-color: transparent;
	color: rgba(0,0,0,0.5);
	font-size: 1.2em;
}


.fs-fields textarea {
	padding: 0.25em;
	width: 100%;
	height: 200px;
	border: 2px solid rgba(0,0,0,0.2);
	background-color: transparent;
	color: #fffed8;
	font-weight: 700;
	font-size: 0.85em;
	resize: none;
}

.fs-form-overview .fs-fields textarea {
	height: 100px;
	color: rgba(0,0,0,0.5);
}

.fs-fields textarea:focus {
	outline: none;
}

.fs-form-overview .fs-fields textarea {
	padding: 0;
	border-color: transparent;
}

.fs-form-overview .fs-fields textarea:focus {
	background: #fffed8;
}

.fs-form div.cs-select.cs-skin-boxes {
	display: block;
}

.fs-form-overview .cs-skin-boxes > span {
	border-radius: 5px;
	width: 90px;
	height: 70px;
	font-size: 0.8em;
}

.fs-form-overview .cs-skin-boxes > span::before {
	padding-top: 50px;
	box-shadow: 0 20px 0 #292c30, inset 0 -5px #292c30;
}

.fs-fields input.fs-mark {
	// padding-left: 1em;
	// background-image: url(../img/dollar.svg);
	// background-position: 0% 0.15em;
	// background-size: auto 75%;
	// background-repeat: no-repeat;
}

.fs-fields input.fs-mark[required] {
	// background-image: url(../img/dollar.svg), url(../img/abacusstar.svg);
	// background-position: 0% 0.15em, top right;
	// background-size: auto 75%, 18px;
	// background-repeat: no-repeat;
}

/* placeholder */
.fs-fields input::-webkit-input-placeholder,
.fs-fields textarea::-webkit-input-placeholder {
	color: rgba(0,0,0,0.1);
}

.fs-fields input:-moz-placeholder,
.fs-fields textarea:-moz-placeholder {
	color: rgba(0,0,0,0.1);
}

.fs-fields input::-moz-placeholder,
.fs-fields textarea::-moz-placeholder {
	color: rgba(0,0,0,0.1);
}

.fs-fields input:-ms-input-placeholder,
.fs-fields textarea:-ms-input-placeholder {
	color: rgba(0,0,0,0.1);
}

/* Hide placeholder when focused in Webkit browsers */
.fs-fields input:focus::-webkit-input-placeholder {
	color: transparent;
}

/* Dot navigation */
.fs-nav-dots {
	position: absolute;
	top: 50%;
	right: 60px;
	left: auto;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.fs-nav-dots button {
	position: relative;
	display: block;
	padding: 0;
	margin: 16px 0;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: transparent;
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.fs-nav-dots button::before,
.fs-nav-dots button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%; 
	height: 100%;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.3);
	content: '';
	text-indent: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.fs-nav-dots button::after {
	background-color: rgba(0,0,0,0.4);
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,180deg);
	transform: perspective(1000px) rotate3d(0,1,0,180deg);
}

.fs-nav-dots button.fs-dot-current {
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,180deg);
	transform: perspective(1000px) rotate3d(0,1,0,180deg);
}

.fs-nav-dots button:hover::before,
.fs-nav-dots button.fs-dot-current::before {
	background: #fffed8;
}

/* Progress bar */
.fs-progress {
	position: absolute;
	bottom: 0;
	width: 0%;
	height: 3px;
	background: $white;
	-webkit-transition: width 0.3s ease-in-out;
	transition: width 0.3s ease-in-out;
}

/* Number indicator */
.fs-numbers {
	position: absolute;
	bottom: 10px;
	left: 50%;
	font-family: $base-font-family;
	font-weight: $thin;
	font-size: 20px;
	letter-spacing: 10px;
	overflow: hidden;
	color: $white;
	width: 50px;
	cursor: default;
	margin: 0 0 0 440px;
	.fs-number-current {
		font-weight: $regular;
	}
}

.fs-numbers:after {
	position: absolute;
	width: 100%;
	text-align: center;
	content: '/';
	font-weight: 300;
	opacity: 0.4;
	left: 0;
}

.fs-numbers span {
	float: right;
	width: 40%;
	text-align: center;
}

.fs-numbers .fs-number-current {
	float: left;
}

.fs-numbers .fs-number-new {
	position: absolute;
	left: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}

/* Animations for numbers */
/* Show next number */
.fs-numbers.fs-show-next .fs-number-new {
	-webkit-animation: animMoveUpFromDown 0.4s both;
	animation: animMoveUpFromDown 0.4s both;
}

@-webkit-keyframes animMoveUpFromDown {
	from { -webkit-transform: translateY(100%); }
	to { -webkit-transform: translateY(0); }
}

@keyframes animMoveUpFromDown {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
	to { -webkit-transform: translateY(0); transform: translateY(0); }
}

.fs-numbers.fs-show-next .fs-number-current {
	-webkit-animation: animMoveUp 0.4s both;
	animation: animMoveUp 0.4s both;
}

@-webkit-keyframes animMoveUp {
	to { -webkit-transform: translateY(-100%); }
}

@keyframes animMoveUp {
	to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

/* Show previous number */
.fs-numbers.fs-show-prev .fs-number-new {
	-webkit-animation: animMoveDownFromUp 0.4s both;
	animation: animMoveDownFromUp 0.4s both;
}

@-webkit-keyframes animMoveDownFromUp {
	from { -webkit-transform: translateY(-100%); }
	to { -webkit-transform: translateY(0); }
}

@keyframes animMoveDownFromUp {
	from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
	to { -webkit-transform: translateY(0); transform: translateY(0); }
}

.fs-numbers.fs-show-prev .fs-number-current {
	-webkit-animation: animMoveDown 0.4s both;
	animation: animMoveDown 0.4s both;
}

@-webkit-keyframes animMoveDown {
	to { -webkit-transform: translateY(100%); }
}

@keyframes animMoveDown {
	to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

.fs-continue {
	display: none;
	cursor: pointer;
	position: absolute;
	text-align: left;
	bottom: 10px;
	left: 50%;
	margin: 0;
	width: 680px;
	margin: 0 0 0 -483px;
	font-family: $base-font-family;
	color: rgba(255, 255, 255, 0.5);
	font-weight: $regular;
	font-size: 20px;
	letter-spacing: 4px;
	text-transform: uppercase;
	@include transition(color 0.2s $ease-out);
	&:before {
		content: 'Pressione tab ou clique aqui para ';
		font-weight: $thin;
		cursor: default;
		@include transition(color 0.2s $ease-out);
	}
	&:hover {
		color: $white;
		&:before {
			color: rgba(255, 255, 255, 0.5);
		}
	}
	&.is-textarea {
		&:before {
			content: 'Clique aqui para ';
		}
	}
}

/* Error */
.fs-message-error {
	position: absolute;
	top: 40px;
	left: 50%;
	width: 600px;
	z-index: 800;
	padding: 5px;
	font-weight: $thin;
	font-size: 18px;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
	background-color: rgba(255, 0, 0, 0.6);
	text-transform: uppercase;
	letter-spacing: 1px;
	@include opacity(0);
	@include border-radius(3px);
	@include transform(translate3d(-50%, -10px, 0));
	&:after {
		content: '';
		position: absolute;
		bottom: -6px;
		left: 50%;
		margin-left: -4px;
		@include arrow(8px, 6px, 'down', rgba(255, 0, 0, 0.6));
	}
}

.fs-message-error.fs-show {
	@include opacity(1);
	@include transition(transform 0.3s, opacity 0.3s);
	@include transform(translate3d(-50%, -5px, 0));
}

/* Animation classes & animations */
.fs-form li.fs-current {
	visibility: visible;
}

.fs-form li.fs-hide,
.fs-form li.fs-show {
	pointer-events: none;
}

/* Hide current li when navigating to next question */
.fs-form .fs-display-next .fs-hide {
	visibility: visible;
}

.fs-form .fs-display-next .fs-hide .fs-anim-lower,
.fs-form .fs-display-next .fs-hide .fs-anim-upper {
	-webkit-animation: animHideNext 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animHideNext 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

.fs-form .fs-display-next .fs-hide .fs-anim-lower {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

@-webkit-keyframes animHideNext {
	to { opacity: 0; -webkit-transform: translate3d(0,-500px,0); }
}

@keyframes animHideNext {
	to { opacity: 0; -webkit-transform: translate3d(0,-500px,0); transform: translate3d(0,-500px,0); }
}

/* Show new li when navigating to next question */
.fs-form .fs-display-next .fs-show .fs-anim-lower,
.fs-form .fs-display-next .fs-show .fs-anim-upper {
	-webkit-animation: animShowNext 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
	animation: animShowNext 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
}

.fs-form .fs-display-next .fs-show .fs-anim-lower {
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

@-webkit-keyframes animShowNext {
	from { opacity: 0; -webkit-transform: translate3d(0,500px,0); }
}

@keyframes animShowNext {
	from { opacity: 0; -webkit-transform: translate3d(0,500px,0); transform: translate3d(0,500px,0); }
}

/* Hide current li when navigating to previous question */
.fs-form .fs-display-prev .fs-hide {
	visibility: visible;
}

.fs-form .fs-display-prev .fs-hide .fs-anim-lower,
.fs-form .fs-display-prev .fs-hide .fs-anim-upper {
	-webkit-animation: animHidePrev 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animHidePrev 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

.fs-form .fs-display-prev .fs-hide .fs-anim-upper {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

@-webkit-keyframes animHidePrev {
	to { opacity: 0; -webkit-transform: translate3d(0,500px,0); }
}

@keyframes animHidePrev {
	to { opacity: 0; -webkit-transform: translate3d(0,500px,0); transform: translate3d(0,500px,0); }
}

/* Show new li when navigating to previous question */
.fs-form .fs-display-prev .fs-show .fs-anim-lower,
.fs-form .fs-display-prev .fs-show .fs-anim-upper {
	-webkit-animation: animShowPrev 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
	animation: animShowPrev 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
}

.fs-form .fs-display-prev .fs-show .fs-anim-upper {
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

@-webkit-keyframes animShowPrev {
	from { opacity: 0; -webkit-transform: translate3d(0,-500px,0); }
}

@keyframes animShowPrev {
	from { opacity: 0; -webkit-transform: translate3d(0,-500px,0); transform: translate3d(0,-500px,0); }
}

/* Remove IE clear cross */
input[type=text]::-ms-clear {
    display: none;
}

