.icon-flag-br {
  background-image: url(../images/sprite.png);
  background-position: -80px 0px;
  width: 30px;
  height: 20px;
}
.icon-flag-en {
  background-image: url(../images/sprite.png);
  background-position: -80px -25px;
  width: 30px;
  height: 20px;
}
.icon-polygon-bottom {
  background-image: url(../images/sprite.png);
  background-position: 0px -41px;
  width: 47px;
  height: 30px;
}
.icon-polygon-left {
  background-image: url(../images/sprite.png);
  background-position: -35px 0px;
  width: 40px;
  height: 32px;
}
.icon-polygon-top {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 30px;
  height: 36px;
}
