// Home

#home {
	height: 1070px;
	padding-top: 0!important;
	background: #000 image-url('landscape.jpg') center top no-repeat;
	.content {
		width: 100%;
		// height: 100%;
		text-align: center;
		position: absolute;
		top: 90px;
		left: 0;
		z-index: 10;
		padding-top: 0!important;
		border: none!important;
	}
	.overlay {
		height: 1070px;
	}
	h3 {
		font-size: 70px;
		font-weight: $light;
		margin-top: 105px;
	}
	p {
		font-weight: $light;
		font-size: 25px;
		margin-top: -25px;
	}
	.scroll-down {
		bottom: 250px;
	}
} 