/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.sprite-badge-bronze-big {
  background-image: url(../images/sprite.png);
  background-position: -130px -100px;
  width: 32px;
  height: 32px;
}
.sprite-badge-bronze {
  background-image: url(../images/sprite.png);
  background-position: -306px -100px;
  width: 20px;
  height: 20px;
}
.sprite-badge-gold-big {
  background-image: url(../images/sprite.png);
  background-position: -172px -100px;
  width: 32px;
  height: 32px;
}
.sprite-badge-gold {
  background-image: url(../images/sprite.png);
  background-position: -526px -100px;
  width: 20px;
  height: 20px;
}
.sprite-badge-silver-big {
  background-image: url(../images/sprite.png);
  background-position: -214px -100px;
  width: 32px;
  height: 32px;
}
.sprite-badge-silver {
  background-image: url(../images/sprite.png);
  background-position: -496px -100px;
  width: 20px;
  height: 20px;
}
.sprite-flag-br {
  background-image: url(../images/sprite.png);
  background-position: -456px -100px;
  width: 30px;
  height: 20px;
}
.sprite-flag-de {
  background-image: url(../images/sprite.png);
  background-position: -556px -100px;
  width: 30px;
  height: 20px;
}
.sprite-flag-en {
  background-image: url(../images/sprite.png);
  background-position: -336px -100px;
  width: 30px;
  height: 20px;
}
.sprite-flag-es {
  background-image: url(../images/sprite.png);
  background-position: -376px -100px;
  width: 30px;
  height: 20px;
}
.sprite-flag-fr {
  background-image: url(../images/sprite.png);
  background-position: -416px -100px;
  width: 30px;
  height: 20px;
}
.sprite-logo {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 300px;
  height: 90px;
}
.sprite-pagseguro {
  background-image: url(../images/sprite.png);
  background-position: -310px 0px;
  width: 360px;
  height: 70px;
}
.sprite-paypal {
  background-image: url(../images/sprite.png);
  background-position: 0px -100px;
  width: 120px;
  height: 50px;
}
.sprite-phone {
  background-image: url(../images/sprite.png);
  background-position: -256px -100px;
  width: 40px;
  height: 30px;
}
