.icon-checked {
  background-image: url(../images/sprite.png);
  background-position: -865px -380px;
  width: 15px;
  height: 10px;
}
.icon-cms {
  background-image: url(../images/sprite.png);
  background-position: -185px -395px;
  width: 230px;
  height: 160px;
}
.icon-css {
  background-image: url(../images/sprite.png);
  background-position: 0px -395px;
  width: 180px;
  height: 170px;
}
.icon-e-commerce {
  background-image: url(../images/sprite.png);
  background-position: -710px -165px;
  width: 200px;
  height: 160px;
}
.icon-flag-br {
  background-image: url(../images/sprite.png);
  background-position: -865px -355px;
  width: 30px;
  height: 20px;
}
.icon-flag-en {
  background-image: url(../images/sprite.png);
  background-position: -865px -330px;
  width: 30px;
  height: 20px;
}
.icon-grunt {
  background-image: url(../images/sprite.png);
  background-position: -185px -220px;
  width: 180px;
  height: 170px;
}
.icon-html {
  background-image: url(../images/sprite.png);
  background-position: -220px 0px;
  width: 180px;
  height: 170px;
}
.icon-js {
  background-image: url(../images/sprite.png);
  background-position: 0px -220px;
  width: 180px;
  height: 170px;
}
.icon-mobile {
  background-image: url(../images/sprite.png);
  background-position: -420px -395px;
  width: 170px;
  height: 160px;
}
.icon-opencart-and-wordpress {
  background-image: url(../images/sprite.png);
  background-position: -405px 0px;
  width: 300px;
  height: 170px;
}
.icon-profile {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 215px;
  height: 215px;
}
.icon-responsive {
  background-image: url(../images/sprite.png);
  background-position: 0px -570px;
  width: 220px;
  height: 160px;
}
.icon-sass {
  background-image: url(../images/sprite.png);
  background-position: -405px -175px;
  width: 200px;
  height: 170px;
}
.icon-sites {
  background-image: url(../images/sprite.png);
  background-position: -710px 0px;
  width: 200px;
  height: 160px;
}
.icon-toyota {
  background-image: url(../images/sprite.png);
  background-position: -710px -330px;
  width: 150px;
  height: 150px;
}
