// Animations

@import "mixins/animation";

//1. Arrow Move to Down
@include keyframes(arrow-down) {
    0% {
        bottom: 15px;
    }  
    50%  {
        bottom: 25px;
    }  
    100%   {
        bottom: 15px;
    }   
}

// 2. Scroll Mouse
@include keyframes(mouse-move) {
    0% {
        bottom: 10px;
    } 
    15%   {
        bottom: 25px;
    } 
    30%   {
        bottom: 10px;
    } 
    45% {
        bottom: 25px;
    }  
    60% {
        bottom: 10px;
    }  
    100%   {
        bottom: 10px;
    }  
}

// 3. Animate Scale Image
@include keyframes(scaled-image) {
    0% {
        @include transform(scale(1));
    } 
    50%   {
        @include transform(scale(1.4));
    }  
    100%   {
        @include transform(scale(1));
    }  
}

// 4. Animate Down/Up Image
@include keyframes(down-up-image) {
    0% {
        top: 0;
    } 
    50%   {
        top: -400px;
    }  
    100%   {
        top: 0;
    }  
}

// 5. Animate Up/Down Image
@include keyframes(up-down-image) {
    0% {
        top: 0;
    } 
    50%   {
        top: -400px;
    }  
    100%   {
        top: 0;
    }  
}

// 6. Rotation
@include keyframes(rotation) {
    0% {
        @include transform(rotate(0));
    } 
    100%   {
        @include transform(rotate(360deg));
    }   
}