// Helpers

@import "mixins/animation";

// Structure
.wrapper {
	position: relative;
	display: block;
	width: $page-width;
	margin: 0 auto;
	// border: 1px solid red;
}

.column {
	position: relative;
	vertical-align: top;
	display: inline-block;
	&.column-half {
		width: 49%;
	}
	&.column-third {
		width: 33.3333333333%;
	}
	&.column-fourty {
		width: 25%;
	}
}

// Helpers
.clear {
	clear: both;
}

.row { 
	display: block;
	clear: both;
}
 
.hide-text {
	display: block;
	text-indent: -9999px;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.none {
	display: none;
}

.centered {
	margin: 0 auto;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.normal {
	font-style: normal;
}

.italic {
	font-style: italic;
}

.strong {
	font-weight: bold;
}

.grabbing { 
    cursor: image-url('grabbing.png') 8 8, move;
}

.bullet {
	padding-left: 23px;
}

// Rounded Corners
.rounded {
	@include border-radius($default-radius);
}
.rounded-right {
	@include border-radius(0 $default-radius $default-radius 0);
}
.rounded-left {
	@include border-radius($default-radius 0 0 $default-radius);
}
.rounded-top {
	@include border-radius($default-radius $default-radius 0 0);
}
.rounded-bottom {
	@include border-radius(0 0 $default-radius $default-radius);
}

// Animations & Transitions
.linear {
	@include transition(all 0.5s $linear);
}

.ease {
	@include transition(all 0.5s $ease);
}

.ease-in {
	@include transition(all 0.5s $ease-in);
}

.ease-out {
	@include transition(all 0.5s $ease-out);
}
.ease-in-out {
	@include transition(all 0.5s $ease-in-out);
}

.icon-animated {
	display: inline-block;
	@include animation(rotation 1s infinite $linear);
}

