// Font Icon
@font-face {
	font-family: 'Icons';
	src: font-url('icons/icons.eot?-ra3k2h');
	src: font-url('icons/icons.eot?#iefix-ra3k2h') format('embedded-opentype'),
		 font-url('icons/icons.woff?-ra3k2h') format('woff'),
		 font-url('icons/icons.ttf?-ra3k2h') format('truetype'),
		 font-url('icons/icons.svg?-ra3k2h#Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Icons
.icon {
	font-family: 'Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bitbucket:before {
	content: "\e600";
}

.icon-forward:before {
	content: "\e969";
}

.icon-smile:before {
	content: "\e9e1";
}

.icon-tongue:before {
	content: "\e9e3";
}

.icon-sad:before {
	content: "\e9e5";
}

.icon-plus:before {
	content: "\ea0a";
}

.icon-minus:before {
	content: "\ea0b";
}

.icon-cross:before {
	content: "\ea0f";
}

.icon-checked:before {
	content: "\ea10";
}

.icon-unchecked:before {
	content: "\ea11";
}

.icon-arrow-up:before {
	content: "\ea3a";
}

.icon-arrow-right:before {
	content: "\ea3c";
}

.icon-arrow-down:before {
	content: "\ea3e";
}

.icon-arrow-left:before {
	content: "\ea40";
}

.icon-embed:before {
	content: "\ea80";
}

.icon-google-plus:before {
	content: "\ea88";
}

.icon-facebook:before {
	content: "\ea8c";
}

.icon-twitter:before {
	content: "\ea91";
}

.icon-youtube:before {
	content: "\ea99";
}

.icon-vimeo:before {
	content: "\ea9c";
}

.icon-flickr2:before {
	content: "\eaa1";
}

.icon-dropbox:before {
	content: "\eaaf";
}

.icon-github:before {
	content: "\eab3";
}

.icon-apple:before {
	content: "\eabf";
}

.icon-android:before {
	content: "\eac1";
}

.icon-windows:before {
	content: "\eac3";
}

.icon-skype:before {
	content: "\eac6";
}

.icon-linkedin:before {
	content: "\eac9";
}

.icon-stackoverflow:before {
	content: "\eacf";
}

.icon-codepen:before {
	content: "\eae4";
}

.icon-heart:before {
	content: "\e601";
}

.icon-star:before {
	content: "\e602";
}

.icon-trash:before {
	content: "\e603";
}

.icon-user:before {
	content: "\e604";
}

.icon-lock:before {
	content: "\e605";
}

.icon-bulb:before {
	content: "\e606";
}

.icon-pen:before {
	content: "\e607";
}

.icon-location:before {
	content: "\e608";
}

.icon-bubble:before {
	content: "\e609";
}

.icon-mail:before {
	content: "\e60a";
}

.icon-paperplane:before {
	content: "\e60b";
}


