// Font Icon
@font-face {
	font-family: 'Icons';
	src: font-url('Icons.eot?-ra3k2h');
	src: font-url('Icons.eot?#iefix-ra3k2h') format('embedded-opentype'),
		 font-url('Icons.woff?-ra3k2h') format('woff'),
		 font-url('Icons.ttf?-ra3k2h') format('truetype'),
		 font-url('Icons.svg?-ra3k2h#Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Icons
.icon {
	font-family: 'Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\f002";
}
.icon-heart:before {
	content: "\f004";
}
.icon-star:before {
	content: "\f005";
}
.icon-check:before {
	content: "\f00c";
}
.icon-close:before {
	content: "\f00d";
}
.icon-zoom-plus:before {
	content: "\f00e";
}
.icon-zoom-minus:before {
	content: "\f010";
}
.icon-engine:before {
	content: "\f013";
}
.icon-print:before {
	content: "\f02f";
}
.icon-image:before {
	content: "\f03e";
}
.icon-left-medium-arrow:before {
	content: "\f053";
}
.icon-right-medium-arrow:before {
	content: "\f054";
}
.icon-plus:before {
	content: "\f067";
}
.icon-minus:before {
	content: "\f068";
}
.icon-up-medium-arrow:before {
	content: "\f077";
}
.icon-down-medium-arrow:before {
	content: "\f078";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-github:before {
	content: "\f09b";
}
.icon-contact:before {
	content: "\f0e0";
}
.icon-linkedin:before {
	content: "\f0e1";
}
.icon-left-small-arrow:before {
	content: "\f104";
}
.icon-right-small-arrow:before {
	content: "\f105";
}
.icon-up-small-arrow:before {
	content: "\f106";
}
.icon-down-small-arrow:before {
	content: "\f107";
}
.icon-desktop:before {
	content: "\f108";
}
.icon-laptop:before {
	content: "\f109";
}
.icon-tablet:before {
	content: "\f10a";
}
.icon-mobile:before {
	content: "\f10b";
}
.icon-keyboard:before {
	content: "\f11c";
}
.icon-terminal:before {
	content: "\f120";
}
.icon-code:before {
	content: "\f121";
}
.icon-reply:before {
	content: "\f122";
}
.icon-like:before {
	content: "\f164";
}
.icon-unlike:before {
	content: "\f165";
}
.icon-youtube:before {
	content: "\f167";
}
.icon-dropbox:before {
	content: "\f16b";
}
.icon-stack-overflow:before {
	content: "\f16c";
}
.icon-instagram:before {
	content: "\f16d";
}
.icon-bitbucket:before {
	content: "\f171";
}
.icon-apple:before {
	content: "\f179";
}
.icon-android:before {
	content: "\f17b";
}
.icon-wordpress:before {
	content: "\f19a";
}
.icon-pdf:before {
	content: "\f1c1";
}
.icon-codepen:before {
	content: "\f1cb";
}
.icon-user-dark:before {
	content: "\e603";
}
.icon-users:before {
	content: "\e604";
}
.icon-user:before {
	content: "\e600";
}
.icon-pin:before {
	content: "\e601";
}
.icon-image-line:before {
	content: "\e602";
}