.icon-2 {
  background-image: url(../images/sprite.png);
  background-position: -365px 0px;
  width: 512px;
  height: 384px;
}
.icon-grunt {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 360px;
  height: 424px;
}
.icon-sass {
  background-image: url(../images/sprite.png);
  background-position: 0px -429px;
  width: 512px;
  height: 384px;
}
