// Global

.fullscreen {
	width: 100%;
	overflow: hidden!important;
	background-color: $black;
}

// CSS Logo 
.logo-icon {
	display: block;
	margin: 0 auto;
  	text-align: center;
	i {
		display: block;
		position: relative;
		margin: $logo-size / 5 auto;
		width: $logo-size;
		height: $logo-size;
		border: $logo-size / 10 solid $logo-color;
		@include transform(rotate(-45deg));
		&:after, &:before {
			content: "";
			display: block;
			position: absolute;
			width:  ($logo-size / 2) - ($logo-size / 3) + ($logo-size / 5);
			height: ($logo-size / 2) - ($logo-size / 3) + ($logo-size / 5);
        	@include box-sizing(border-box);
		}
		&:before {
			top: $logo-size / 10;
			left: $logo-size / 10;
			border-left: ($logo-size / 10) + ($logo-size / 20) solid $logo-color;
			border-bottom: ($logo-size / 10) + ($logo-size / 20) solid $logo-color;
		}
		&:after {
			right: $logo-size / 10;
			bottom: $logo-size / 10;
			border-bottom: ($logo-size / 10) + ($logo-size / 20) solid $logo-color;
		}
	}
	.author {
		margin-top: 15px;
		display: inline-block;
		color: $logo-color;
		font-size: $logo-size / 3 + 5;
		line-height: ($logo-size / 3) - ($logo-size / 20) + 5;
		text-align: right;
		text-transform: uppercase;
		font-weight: $extra-bold;
		span {
			display: block;
		}
	}
}

// Animated Image
.animated-image {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 10;
	background-color: $black;
	img {
		width: 100%;
		min-height: 100%;
	}
	video {
		display: block;
		width: 100%;
		// height: 100%;
	}
	&.animate-scale {
		height: 100%;
		img {
			@include animation(scaled-image 30s linear infinite);
		}
	}
	&.animate-vertical {
		img {
			position: absolute;
			top: 0;
			left: 0;
			@include animation(down-up-image 30s linear infinite);
		}
	}
	&.animate-contact {
		img {
			min-width: 1800px;
			@include animation(contact-image 60s linear infinite);
		}
	}
}

// Animated Text
.animated-text {
	z-index: 20;
	h2 {
		font-family: 'DidotItalic';
		font-style: italic;
		text-transform: uppercase;
		font-size: 130px;
		color: rgba(255, 255, 255, 0.1);
		// line-height: 87px;
		line-height: 94px;
		letter-spacing: -3px;  
		padding-top: 50px;
		@include opacity(0);
		@include transition(all 0.5s $ease-out);
		span {
			display: block;
			@include transition(all 0.8s $ease-out);
			&.step-1 {
				@include transform(translateX(-100px));
			}
			&.step-2 {
				@include transform(translateX(100px));
			}
			&.step-3 {
				@include transform(translateX(-100px));
			}
			&.about {
				@include transform(translateX(-100px));
			}
			&.me {
				@include transform(translateX(130px));
			}
			&.type {
				display: block;
				position: absolute;
				left: 50%;
				margin-left: -150px;
				width: 300px;
				top: 50%;
				margin-top: 0;
				font-size: 30px;
				text-align: center;
				height: 50px;
				line-height: 50px;
				// color: $white;
				position: 0!important;
				// @include opacity(0.5);
			}
		}
		&.single-word {
			letter-spacing: 50px;
		}
	}
	h3 {
		font-family: 500;
		font-size: 40px;
		letter-spacing: 10px;
		text-transform: uppercase;
		font-weight: 300;
		@include opacity(0);
		@include transition(all 1s $ease-out);
		@include transform(translateY(-170px));
		&.double-line {
			padding-top: 45px;
			line-height: 50px;
		}
		&.single-line {
			padding-top: 45px;
		}
		&.single {
			padding-top: 87px;
		}
		span {
			display: block;
			font-weight: $bold;
		}
	}
	&.init-animation {
		h2 {
			@include opacity(1);
			.step-1,
			.step-2,
			.step-3 {
				@include transform(translateX(0));
			}
			&.single-word {
				letter-spacing: -3px;
			}
		}
		h3 {
			letter-spacing: 20px;
			@include opacity(1);
		}
	}
}

// Animated Content
.animated-content {
	@include opacity(0);
	@include transition(opacity 0.5s $ease-out);

	ol li {
		.title {
			letter-spacing: 0px;
			@include transition(all 0.8s $ease-out);
		}
		.category {
			letter-spacing: 0px;
			@include transition(all 0.8s $ease-out);
		}
	}
	.animated-column {
		display: none;
	}
	&.init-animation {
		@include opacity(1); 
		ol li {
			.title {
				letter-spacing: 20px;
			}
			.category {
				letter-spacing: 8px;
			}
		}
		.animated-column {
			display: inline-block;
		}
	} 
}

// Animated Form
.animated-form {
	@include opacity(0);
	@include transition(all 0.5s $ease-out);
	.fs-fields li label, .fs-numbers {
		@include opacity(0);
		@include transform(translateY(30px));
		@include transition(transform 0.8s $ease-out);
	}
	.fs-fields li input {
		width: 1px;
		@include transition(width 0.8s $ease-out);
	}
	&.init-animation {
		@include opacity(1);
		.fs-fields li label, .fs-numbers {
			@include opacity(1);
			@include transform(translateY(0px));
		}
		.fs-fields li input {
			width: 100%;
		}
	} 
}

// Overlay
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.70);
	z-index: 50;
	span {
		content: "";
		position: absolute;
		left: 0; 
		width: 100%;
		height: 300px; 
		&.top {
			top: 0;
			@include background-image(linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%));
		}
		&.bottom {
			bottom: 0;
			@include background-image(linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%));
		}
	}
}

// Buttons
.button {
	font-family: $base-font-family;
	text-transform: uppercase;
	color: $white;
	font-weight: $light!important;
	font-size: 20px;
	border: 1px solid $white!important;
	padding: 20px 35px;
	letter-spacing: 2px;
	cursor: pointer;
	@include transition(all .5s $ease-out);
	span {
		display: inline-block;
		@include transition(all .5s $ease-out);
		@include transform(translateX(15px));
	}
	i {
		display: inline-block; 
		@include opacity(0);
		@include transition(all .5s $ease-out);
		@include transform(translateY(2px));
	}
	&:hover {
		span {
			@include transform(translateX(0));
		}
		i {
			display: inline-block;
			@include opacity(1);
			@include transform(translateX(5px) translateY(2px));
		}
	}
}

// Flipper

.flipper { 
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
	-ms-transform: perspective(1000px);
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d; 
	-ms-transform-style: preserve-3d;
	margin: 100px;
	.flipper-inner {
			position: relative; 
			-moz-transform: perspective(1000px); 
			@include transition(all 0.8s $ease-out);
			@include transform-style(preserve-3d);
		.front, 
		.back {
			position: absolute;
			top: 0;
			left: 0;
			width: $square-size;
			height: $square-size;
			@include backface-visibility(hidden);
			@include transition(all 0.8s $ease-out);
			@include transform-style(preserve-3d);
			@include transform(rotateY(180deg)); 
		}
		.front {
			background-color: $white;
			z-index: 2;
			@include transform(rotateY(0deg) rotate(-45deg));
		}
		.back {
			@include transform(rotateY(-180deg) rotate(-45deg));
		}
		.face-inner {
			display: block;
			width: $square-size;
			height: $square-size;
			text-align: center;
			@include transform(rotate(45deg));
		}
	}
}
