// Home

#home {
	background: #000;
	height: 100%;
	
	.logo-icon,
	.animated-text,
	.button {
		position: absolute;
		left: 50%;
		z-index: 9900; 
	}

	.logo-icon { 
		top: 95px;
		margin-left: -90px;
	}

	.button {
		bottom: 95px;
		margin-left: -130px;
	}

	.animated-text {
		width: 750px;
		height: 350px;
		top: 50%;
		margin: -100px 0 0 -375px;
		text-align: center;
		// border: 1px solid red;
	}
} 