// Pages

#page {
	position: relative;
	overflow: hidden;
	// height: 1000px;
	height: 650px;
	margin-top: -20px;

	.page-icon {
		display: block;
		width: 150px;
		height: 150px;
		border: 3px solid $white;
		position: absolute;
		top: 115px;
		left: 50%;
		text-align: center;
		margin: 0 0 0 -75px;
		z-index: 20;
		@include opacity(0);
		@include transform(rotate(-45deg));
		i {
			display: inline-block;
			width: 150px;
			height: 150px;
			color: $white;
			font-size: 90px;
			// background-color: red;
			padding-top: 30px;
			text-indent: -8px; 
			@include opacity(0);
			@include transform(rotate(45deg));
		}
		&.init-animation { 
			@include opacity(1);
			@include transform(scale(1) rotate(-45deg));
			@include transition(all .5s $ease-out);
			i {
				@include opacity(1);
				@include transition(all 1s $ease-out);
			}
		}
	}

	.animated-text {
		position: absolute;
		width: 100%;
		height: 290px;
		top: 50%;
		margin: 0;
		left: 0;
		text-align: center;
		// border: 1px solid red;
	}

	.animated-image {
		display: block;
		height: 650px;
		overflow: hidden;
		img {
			width: auto;
			height: auto;
		}
		.overlay {
			position: absolute;
			height: 650px;
		}
	}

	.mouse {
		display: none;

		width: 45px;
		height: 75px;
		background-color: $white;
		position: absolute;
		left: 50%;
		bottom: 200px;
		margin: 0 0 0 -22px;
		z-index: 30;
		@include border-radius(30px);
		.scroll {
			width: 10px;
			height: 10px;
			background-color: $black;
			position: absolute;
			left: 50%;
			margin-left: -5px;
			bottom: 10px;
			@include border-radius(100%);
			@include animation(mouse-move 4s $ease-out infinite);
		}
	}

	.diagonal {
		display: block;
		width: 2000px;
		height: 355px;
		background-color: $white;
		position: absolute;
		bottom: -285px;
		left: -20px;
		z-index: 20;
		@include transform(rotate(-3.9deg));
	}
}


// Projects
#projects {
	.load-more {
		display: block;
		margin: 40px auto 20px auto;
		width: 60px;
		height: 60px;
		color: #dadada;
		border: 1px solid #dadada;
		text-align: center;
		@include transform(rotate(-45deg));
		i {
			display: block;
			width: 60px;
			height: 60px;
			font-size: 30px;
			text-indent: -3px;
			padding-top: 15px;
			@include transform(rotate(45deg));
		}
		span {
			display: none; 
		}
		&:hover {
			border-color: $black;
			color: $black;
		}
	}

	$project-height: 305px;
	ol {
		> li {
			display: block;
			position: relative; 
			border-bottom: 1px solid #e6e6e6;
			text-align: center;
			height: $project-height;
			overflow: hidden; 
			&:last-child {
				border-bottom: none;
			}
			.number {
				font-family: 'DidotItalic';
				font-size: 260px;
				font-style: italic;
				font-weight: 100;
				color: #f3f3f3;
				position: absolute;
				top: 42px;
				left: 50%;
				margin: 0 0 0 -130px;
				z-index: 5;
			}
			.info {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: $project-height;
				padding-top: 75px;
				z-index: 10;
				.title,
				.category {
					color: $black;
					text-transform: uppercase;
				}
				.title {
					font-weight: $extra-bold;
					font-size: 40px;
					// letter-spacing: 20px;
				}
				.category {
					font-weight: $bold;
					font-size: 15px;
					padding: 25px 0 35px 0;
					// letter-spacing: 8px;
				}
				a {
					display: block;
					width: 170px;
					height: 50px;
					line-height: 47px;
					color: $white;
					background-color: $black;
					text-transform: uppercase;
					font-weight: $light;
					text-transform: uppercase;
					font-size: 14px;
					letter-spacing: 5px;
					text-align: center;
					margin: 0 auto;
					border: 1px solid $black;
					@include transition(all .5s $ease-out);
					&.hidden {
						// text-indent: -99999px;
						height: 0;
						overflow: hidden;
						letter-spacing: 10px;
					}
					&:hover {
						background-color: lighten($black, 20%);
					}
				}
			}
			hr {
				width: 170px;
				height: 2px;
				border: none;
				margin: 0 auto;
				background-color: $black;
			}

			.image,
			.image span ,
			.image img {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: $project-height; 
			}
			.image {
				display: none;
				z-index: 0;
				overflow: hidden;
				span {
					z-index: 1;
					background-color: rgba(255, 255, 255, 0.85);
					&:after, 
					&:before {
						content: "";
						position: absolute;
						left: 0;
						width: 100%;
						height: 50px;
						pointer-events: none;
					}
					&:before {
						top: 0;
						@include background-image(linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%));
					}
					&:after {
						bottom: 0;
						@include background-image(linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%));
					}
				}
				img {
					height: auto;
					@include transition(all .5s $ease-out);
				}
				&.init-animation {
					img {
						@include animation(up-down-image 30s linear infinite);
					}
				}
			}

			&.selected {
				height: auto;
				.image,
				.info a {
					display: none!important;
				}
				.number {
					display: block!important;
				}
			}
		}
	}
}

.project-details {
	// padding-top: 300px;
	padding-top: 50px;
	text-align: left;
	.title {
		font-family: 'DidotItalic';
		font-size: 30px;
		font-weight: normal;
		font-style: italic;
		color: #c2c2c2;
		padding-bottom: 20px;
	}
	ul { 
		li {
			font-weight: $light;
			font-size: 18px;
			color: #c2c2c2;
			strong {
				color: $black;
				font-weight: $light;
			}
		}
		&.check-list {
			li {
				&:before {
					padding: 1px 7px 0 0;
					display: inline-block;
					color: lighten($black, 20%); 
					content: '\e116';
					@extend .icon;
				}
			}
		}
	}
	p {
		font-weight: $light;
		font-size: 18px;
		color: $black;
	}
	.external {
		display: inline-block;
		position: relative;
		margin-top: 15px;
		padding: 7px 20px;
		background-color: $black;
		color: $white;
		text-transform: uppercase;
		font-weight: $thin; 
		font-size: 18px;
		letter-spacing: 1px;
		border: 1px solid $black;
		i {
			display: inline-block;
			margin: 2px 4px 0 -4px;
		}
		&:hover {
			background-color: lighten($black, 25%);
		}
	}

	.close-project {
		display: block;
		color: $black;
		font-size: 30px;
		width: 30px;
		height: 40px; 
		position: absolute;
		top: -285px;
		left: 50%;
		margin-left: 420px;
		z-index: 999;
		span {
			display: none;
		}
		&:hover {
			@include transform(rotate(90deg));
		}
	}

	.projects-carousel {
		display: block;
		position: relative;
		margin-top: 30px;
		&:after, 
		&:before {
			display: block;
			content: "";
			position: absolute;
			left: 0;
			width: 100%;
			height: 100px;
			pointer-events: none;
			z-index: 50;
		}
		&:before {
			top: 0;
			@include background-image(linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%));
		}
		&:after {
			bottom: 0;
			@include background-image(linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%));
		}

		.scroll-top,
		.scroll-bottom {
			display: block;
			width: 1px;
			height: 1px;
		}

		.prev-button,
		.next-button {
			display: block;
			position: absolute;
			top: 400px;
			// color: $white;
			color: $black;
			// font-size: 100px;
			// padding: 10px 30px 0 30px;
			// background-color: rgba(0, 0, 0, 0.40);
			width: 50px;
			height: 50px;
			z-index: 100;
			@include transition(all 0.2s $ease);
			&:after, 
			&:before {
				display: block;
				content: '';
				background-color: $black;
				position: absolute;
				width: 100%;
				height: 8px;
				left: 0;
				@include transition(all 0.2s $ease);
			}
			&:after {
				top: 7px;
				@include transform(rotate(40deg));
			}
			&:before {
				bottom: 7px;
				@include transform(rotate(-40deg));
			}
			&:hover {
				// background-color: rgba(0, 0, 0, 0.70);
				&:after, 
				&:before {
					left: 8px;
				}
				&:after {
					top: 9px;
					@include transform(rotate(35deg));
				}
				&:before {
					bottom: 9px;
					@include transform(rotate(-35deg));
				}
			}
			span {
				display: none;
			}
			&.fixed {
				position: fixed;
				top: 50%;
				margin-top: -50px;
			}
		}
		.prev-button {
			left: 40px;
			@include transform(rotate(-180deg));
		}
		.next-button {
			right: 40px;
		}
	}
}

.quick-projects {
	display: block;
	margin-top: 100px;
	.project {
		display: block;
		width: 50%;
		height: 400px;
		position: relative;
		overflow: hidden;
		&.project-left {
			float: left;
		}
		&.project-right {
			float: right;
		}
		.title {
			display: block;
			width: 100%;
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -40px;
			text-align: center;
			z-index: 10; 
			@include transition(all 0.2s $ease);
			h3 {
				display: inline-block;
				color: $white;
				font-size: 40px;
				font-family: $light;
				letter-spacing: 3px;
				text-transform: uppercase;
				border: 1px solid #fff;
				padding: 10px 25px;
			}
		}
		img {
			max-width: 100%;
			min-width: 800px;
			@include transition(all 0.2s $ease);
		}
		span {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.6);
			z-index: 5;
			//@include filter-gradient(#000000, #000000, horizontal); 
			//@include background-image(radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 51%,rgba(0,0,0,1) 100%));
		}
		a {
			&:hover {
				.title {
					@include transform(scale(1.3));
				}
				span {
					background-color: rgba(0, 0, 0, 0.8);
				}
				img {
					// @include transform(scale(1.5));
				}
			}
		}
	}
}

.ajax-loading {
	// display: none;
	width: 200px;
	height: 200px;
	position: fixed;
	background-color: $black;
	bottom: -100px;
	// right: -100px;
	right: -300px;
	z-index: 9999;
	@include transform(rotate(-45deg));
	i {
		width: 50px;
		height: 50px;
		color: $white;
		font-size: 50px;
		// background-color: red;
		position: absolute;
		top: 15px;
		left: 70px;
		@include transform(rotate(45deg));
	}
}

#like {
	display: block;
	height: auto;
	text-align: center;
	padding: 60px 0 70px 0;
	margin: 80px 0;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	.title {
		font-family: 'DidotItalic';
		font-size: 30px;
		font-weight: 100;
		font-style: italic;
		color: #c2c2c2;
	}
	.subtitle {
		color: $black;
		font-size: 30px;
		font-weight: $regular;
		text-transform: uppercase;
		letter-spacing: 3px;
		line-height: 35px;
		padding: 40px 0 35px 0;
		span {
			display: block;
		}
	}
	a {
		display: inline-block;
		position: relative;
		color: $black;
		font-weight: $light;
		font-size: 17px;
		text-transform: uppercase;
		border: 1px solid $black;
		padding: 26px 65px;
		margin: 10px 0;
		@include border-radius(60px);
		span {
			display: inline-block;
			@include transition(all .3s $ease-out);
		}
		i {
			// position: absolute;
			// bottom: 0;
			// left: 50%;
			// margin-left: -12px;
			// font-size: 25px;
			// color: $white;
			position: absolute;
			bottom: -70px;
			left: 50%;
			margin-left: -30px; 
			font-size: 60px;
			color: $white;
			@include transition(all .3s $ease-out);
		}
		&:hover {
			background-color: $black;
			span {
				color: $white;
			}
			i {
				color: $black;
			}
		}
	}

	&.dark {
		background-color: #222322;
		.title {
			color: #8d8d8d;
		}
		.subtitle {
			color: $white;
		}
		a {
			border-color: $white;
			color: $white;
			&:hover {
				background-color: $white;
				span, i {
					color: #222322!important;
				}
			}
		}
	}
}






















