@import "mixins/animation";

// Loader
body {
	//overflow: hidden; 
	display: none; 
}

#overlay {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.85); 
	#bar {
		top: 0;
		left: 0;
		height: 4px!important;
		background-color: $red;
	}
	#slide {
	}
	#loader {
		position: absolute;
		width: 300px;
		height: 90px;
		top: 70px;
		left: 50%!important;
		margin: 0 0 0 -540px;
		#logo { 
			margin: 0 auto;
			@extend .sprite-logo;
		}
		#percentage {
			position: absolute !important;
			top: -20px;
			left: 0;
			width: 100%;
			height: auto!important;
			font-size: 25px;
			color: $black;
			text-align: right;
			display: block;
			padding-right: 24px;
		}
		#button {
		}
	}
}