body {
	// Default
	.highlight {
		color: $red;
	}
	
	// Custom Colours
	&.red {
		.highlight {
			color: $red;
		}
		nav#menu .current {
			border-top-color: $red;
		}
	}
	&.blue {
		.highlight {
			color: $blue;
		}
		nav#menu .current {
			border-top-color: $blue;
		}
		.page-title {
			background-color: $blue;
		}
		.page-title {
			@include box-shadow(4px 0px 0px 0px darken($blue, 15%) inset, 0px -4px 0px 0px darken($blue, 15%) inset);
		}
	}
	&.orange {
		.highlight {
			color: $orange;
		}
		nav#menu .current {
			border-top-color: $orange;
		}
	}
	&.yellow {
		.highlight {
			color: $yellow;
		}
		nav#menu .current {
			border-top-color: $yellow;
		}
	}
	&.purple {
		.highlight {
			color: $purple;
		}
		nav#menu .current {
			border-top-color: $purple;
		}
	}
	&.green {
		.highlight {
			color: $green;
		}
		nav#menu .current {
			border-top-color: $green;
		}
	}
	&.pink {
		.highlight {
			color: $pink;
		}
		nav#menu .current {
			border-top-color: $pink;
		}
	}
}