// Footer

footer#footer {
	display: block;
	padding-top: 80px;
	text-align: center;
	ul {
		display: table;
		margin: 0 auto;
		li {
			margin: 0 20px;
			display: inline-block;
			position: relative;
			a {
				display: block;
				text-align: center;
				width: 60px;
				height: 60px;
				border: 5px solid #000;
				color: #000;
				font-size: 31px;
				@include transform(rotate(-45deg));
				span {
					display: none;
				}
				i {
					display: block;
					margin-top: 9px;
					@include transform(rotate(45deg));
					&.icon-linkedin {
						padding-left: 9px;
					}
				}
				&:hover {
					color: #fff;
					background-color: #000;
				}
			}
		}
	}
	p {
		display: inline-block;
		margin-top: 70px;
		color: #000;
		font-size: 20px;
	}
}










