// Footer

footer#footer {
	display: block;
	padding-top: 80px;
	text-align: center;
	position: relative;
	ul {
		display: table;
		margin: 0 auto;
		li {
			margin: 0 20px;
			display: block;
			float: left;
			position: relative;
			a {
				display: block;
				text-align: center;
				width: 60px;
				height: 60px;
				border: 1px solid $black;
				color: $black;
				font-size: 31px;
				@include transform(rotate(-45deg));
				span {
					display: none;
				}
				i {
					display: block;
					width: 60px;
					height: 60px;
					// background-color: red;
					padding-top: 13px;
					text-indent: -3px;
					@include transform(rotate(45deg));
					&.icon-facebook {
						padding-top: 11px;
						text-indent: -9px;
					}
				}
				&:hover {
					color: $white;
					background-color: $black;
				}
			}
		}
	}
	.quick-mail {
		position: absolute;
		bottom: 35px;
		left: 40px;
		color: #c7c7c7;
		text-transform: uppercase;
		font-size: 17px;
		font-weight: $regular;
		&:hover { 
			color: $black;
		}
	}
	.to-top {
		display: none;
		position: fixed;
		bottom: 35px;
		right: 40px;
		color: $black;
		text-transform: uppercase;
		font-size: 17px;
		font-weight: $regular;
		// background-color: $white;
		padding: 20px;
		z-index: 9999;
		@include border-radius(100%);
		i {
			display: block;
			margin-bottom: 4px;
		}
		&:hover {
			// background-color: $black;
			// color: $white;
			@include transform(translateY(-10px));
		}
	}
	p {
		display: inline-block;
		color: $black;
		font-size: 17px;
		padding: 70px 0 30px 0;
		text-transform: uppercase;
		font-weight: $regular;
		line-height: 22px;
		span {
			display: block;
		}
	}
}










