// Header

header#header {
	display: block;
	position: fixed;
	top: 40px;
	left: 40px;
	right: 40px;
	height: 40px;
	z-index: 9995;
	overflow: hidden;
	// background-color: red;
	// pointer-events: none;
	.logo-icon {
		float: left;
		@include transform(scale(0.7) translate(-40px, -95px));
		i {
			border-color: transparent;
		}
		&.hide {
			display: none;
		}
		&.dark {
			i:before,
			i:after {
				border-color: $black;
			}
		}
	}
}

.pull-menu {
	position: relative;
	float: right;
	width: 40px;
	height: 31px;
	p {
		color: $white;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 15px;
		padding-top: 6px;
		@include opacity(0);
		@include transform(translateX(0));
		@include transition(all 0.6s $ease-out);
	}
	&:before, 
	span:before,
	span:after {
		display: block;
		content: "";  
		width: 100%;
		height: 5px;
		position: absolute;
		left: 0;
		background-color: $white;
		@include transition(all 0.2s $ease-out);
	}
	&:before {
		top: 50%;
		margin-top: -3px;
	}
	span {
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
	}
	// When menu is opened
	&.opened {
		&:before {
			@include opacity(0);
		}
		span {
			&:before {
				@include transform(translateY(250%) rotate(45deg));
			}
			&:after {
				@include transform(translateY(-250%) rotate(-45deg));
			}
		}
	}
	&:hover {
		p {
			@include opacity(1);
			@include transform(translateX(-55px));
		}
	}
	&.dark {
		p {
			color: $black;
		}
		&:before, 
		span:before,
		span:after {
			background-color: $black;
		}
	}
}

.overlay-menu {
	display: none;
	background-color: $black!important;
	z-index: 9980!important;
}

nav#menu {
	display: none;
	position: fixed;
	width: 640px;
	height: 640px;
	top: 50%;
	left: 50%;
	margin: -317px 0 0 -317px;
	// border: 1px solid red;
	z-index: 9990;
	@include transform(rotate(-45deg));
	$button-size: 320px;
	ul {
		display: block; 
		li {
			position: relative;
			display: block;
			float: left;
			width: $button-size;
			height: $button-size; 
			@include opacity(0);
			@include transition(all .4s $ease-out);	
			> span {
				display: block;
				text-align: center;
				width: $button-size;
				height: $button-size; 
				// line-height: $button-size;
			}
			&.projects {
				@include transform(translateX(160px) translateY(160px));
			}
			&.about {
				@include transform(translateX(-160px) translateY(160px));
			}
			&.blog {
				@include transform(translateX(160px) translateY(-160px));
			}
			&.contact {
				@include transform(translateX(-160px) translateY(-160px));
			}
			&.opened {
				@include opacity(1);
				@include transform(translateX(0) translateY(0));
			}
			a {
				display: block;
				width: 100%;
				height: 100%;
				color: $white;
				background-color: rgba(0, 0, 0, 0.8); 
				@include transition(all 0.5s $ease-out);
				strong {
					font-family: 'DidotItalic';
					font-weight: 100;
					font-size: 130px;
					font-style: italic;
					color: #292929;
					position: absolute;
					width: 130px;
					height: 130px;
					top: 50%;
					left: 50%;
					margin: -65px 0 0 -70px;
					z-index: 10;
					@include transform(rotate(45deg));
					@include transition(all 0.5s $ease-out);
				}
				span {
					display: block;
					font-weight: $light;
					font-size: 40px;
					text-transform: uppercase;
					letter-spacing: 6px;
					position: absolute;
					width: 100%;
					height: 30px; 
					top: 125px;
					left: 0;
					z-index: 20;
					text-indent: 20px;
					@include transform(rotate(45deg));
					@include transition(all 0.5s $ease-out);
				}
				&:hover {
					background-color: $white;
					strong {
						color: #dcdcdc;
					}
					span {
						color: $black;
					}
				}
			}

			&.current {
				background-color: lighten($black, 50%); 
				a { 
					strong {
						// color: #dcdcdc;
					}
					span {
						// display: block;
						// padding-bottom: 55px;
						// padding-right: 10px;
						// color: $black;
						// border-bottom: 1px solid $white; 
					}
				}
			}
		}
	} 
}



