// Font Icon
@font-face {
	font-family: 'Icons';
	src: font-url('icons/icomoon.eot?z80drq');
	src: font-url('icons/icomoon.eot?#iefixz80drq') format('embedded-opentype'),
		 font-url('icons/icomoon.woff?z80drq') format('woff'),
		 font-url('icons/icomoon.ttf?z80drq') format('truetype'),
		 font-url('icons/icomoon.svg?z80drq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Icons
.icon {
	font-family: 'Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-devices:before {
	content: "\e000";
}

.icon-laptop:before {
	content: "\e001";
}

.icon-desktop:before {
	content: "\e002";
}

.icon-tablet:before {
	content: "\e003";
}

.icon-phone:before {
	content: "\e004";
}

.icon-browser:before {
	content: "\e00c";
}

.icon-picture:before {
	content: "\e00f";
}

.icon-heart:before {
	content: "\e601";
}

.icon-star:before {
	content: "\e602";
}

.icon-trash:before {
	content: "\e603";
}

.icon-user:before {
	content: "\e604";
}

.icon-lock:before {
	content: "\e605";
}

.icon-bulb:before {
	content: "\e606";
}

.icon-pen:before {
	content: "\e607";
}

.icon-location:before {
	content: "\e608";
}

.icon-bubble:before {
	content: "\e609";
}

.icon-mail:before {
	content: "\e60a";
}

.icon-paperplane:before {
	content: "\e60b";
}

.icon-keyboard-right:before {
	content: "\e60c";
}

.icon-keyboard-left:before {
	content: "\e60d";
}

.icon-link:before {
	content: "\e005";
}

.icon-arrow-left:before {
	content: "\e094";
}

.icon-arrow-right:before {
	content: "\e095";
}

.icon-arrow-up:before {
	content: "\e096";
}

.icon-arrow-down:before {
	content: "\e097";
}

.icon-plus:before {
	content: "\e114";
}

.icon-minus:before {
	content: "\e115";
}

.icon-check:before {
	content: "\e116";
}

.icon-cross:before {
	content: "\e117";
}

.icon-bitbucket:before {
	content: "\e600";
}

.icon-spinner:before {
	content: "\e97b";
}

.icon-google-plus:before {
	content: "\ea88";
}

.icon-facebook:before {
	content: "\ea8c";
}

.icon-twitter:before {
	content: "\ea91";
}

.icon-youtube:before {
	content: "\ea99";
}

.icon-vimeo:before {
	content: "\ea9c";
}

.icon-flickr:before {
	content: "\eaa1";
}

.icon-dropbox:before {
	content: "\eaaf";
}

.icon-github:before {
	content: "\eab3";
}

.icon-skype:before {
	content: "\eac6";
}

.icon-linkedin:before {
	content: "\eac9";
}

.icon-stackoverflow:before {
	content: "\eacf";
}

.icon-codepen:before {
	content: "\eae4";
}


